* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {

    width: 100%;
    height: 100%;

}

header {

    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 30% 70%);
    grid-template-rows: repeat(1, 1fr);
    background-color: #58427b;

}

.header-box-1 {

    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {

    color: #bd6bb7;
    font-size: 44px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 4px 4px #00000019;

}

.header-box-2 {

    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 120px 0px 120px;
    font-size: 24px;

}

.header-box-2 a {

    text-decoration: none; 
    color: #d6c6e7;
    transition: 0.3s;
}

.header-box-2-p-1:hover, 
.header-box-2-p-2:hover,
.header-box-2-p-3:hover,
.header-box-2-p-4:hover,
.header-box-2-p-5:hover {

    scale: 1.1;
    color: #ffffff;

}

.development p {

    color: #ffffff;

}

.dropdown {

    grid-column: 2;
    width: 140px;
    height: 40px;
    font-family: Arial, sans-serif;
    background-color: #58427b;
    float: right;
    margin-top: 30px;
    margin-right: 100px;

}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: #58427b49;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.122);
    z-index: 1;
    border-radius: 20px;

}

.dropdown-content a {

    color: #bd6bb7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {

    background-color: #58427b8a;

}

.dropdown:hover .dropdown-content {

    display: block;

}

.dropbtn {

    background-color: #bd6bb7;
    color: #d6c6e7;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.406);

}

.dropbtn:hover {

    width: 125px;
    height: 40px;
    transition: 0.4s;

}











html {

    width: 100%;
    height: 100%;

}

body {

    width: 100%;
    height: 100%;
    background-color: #DEB6BE;

}

main {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 100px);

}

.wrapper {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {

    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    margin-left: 20px;
    margin-right: 20px;

}

.block {

    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s;
    border-radius: 0px 0px 20px 20px;
    margin: 15px;
    flex: 1 1 0px;

}

.block:hover {

    transform: scale(1.1);

}

.bottom_text_1,
.bottom_text_2,
.bottom_text_3,
.bottom_text_4 {

    transform: scaleY(0);
    height: 0px;
    box-shadow: inset 0px 0px 10px 10px #9494944d;
    border-radius: 0px 0px 20px 20px;
    transition: 0.7s;
    animation-delay: 2s;

}

.block:hover > .bottom_text_1,
.block:hover > .bottom_text_2,
.block:hover > .bottom_text_3,
.block:hover > .bottom_text_4 {

    transform: scaleY(1);
    height: 150px;
    padding-top: 20px;

}

.block_img img {

    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: -5px;

}

.block_title {

    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;

}

.block_text {

    margin: 10px;
    line-height: 1.4;
    text-align: center;

}

.fixed {

    position: fixed;
    top: 65%;
    left: 87%;
    z-index: 3;

}

.fixed-button {

    background-color: #d6c6e700;
    border: none;
    opacity: 0.2;
    transition: 0.5s;

}

.fixed-button:hover {

    opacity: 0.8;

}

.fixed-button-img {

    width: 100px;

}